
  .navbar-container{
   
    
    box-shadow: 10px 10px 5px rgb(202, 197, 197);
    background-color:#F2EEEE;
    margin-bottom: 40px;

  }
  a{
    color: #000 important!;
    padding: 5px;
  }
  .website-name{
    font-size: 20px;
    font-weight: bold;
    color: F8AB15;
  }
  .profile-img{
    border: 2px solid rgb(17, 3, 3);
  }