.Recipe-container{
    
   color:#110d06;
   width: 1140px;
   background-color: #F2EEEE;
}
  .add-recipe{
    width: 1140px;
    background-color: #F2EEEE;
    margin: auto;
  } 
  .ingrediant-recipe{
    
    background-color: #F2EEEE;
    margin: auto;

  }

  
  .heading-word{
      font-weight: bold;
      font-size: 30px;
      padding: 10px;
      color:#110d06;
     
  }

  .AddButton {

    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:  #F2EEEE;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

}
.add-btn{
  background-color: #F8AB15;
  border-radius: 20px;
  margin: 10px;
}

.ingred-table{
  width: 700px;
  border-radius: 20px;
  border: #F8AB15 1px solid;
  margin: 10px;
  box-shadow: 10px 10px 5px rgb(202, 197, 197);
}

.Component {

    color: rgb(12, 11, 11);
    font-size: 15px;
    width:400px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:  #F8AB15;
    box-shadow: 10px 10px 5px rgb(202, 197, 197);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;

}